Repository jamessawyer/react18-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write .

.lintstagedrc:

{
  "src/**/*.{js,json,jsx,json}": [
    "eslint --fix"
  ],
  "src/**/*.{js,jsx,json,css,scss,md}": [
    "prettier --write ."
  ]
}

feat: 添加 react-app-rewired, 以便后期扩展
  config-overrides.js
  package.json
  pnpm-lock.yaml
Due: none

style: 添加normalize.css
  package.json
  pnpm-lock.yaml
  src/index.js
  src/index.scss
Due: eslint --fix, prettier --write .

chore: 移除index.scss中未生效的配置
  src/index.scss
Due: prettier --write .

feat: 配置postcss & overrides 等等
  config-overrides.js
  docs/H5配置.md
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: none

feat: 添加prettier-plugin-sort-imports插件,用于引入排序
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

fix: 将customize-cra 作为依赖
  package.json
  pnpm-lock.yaml
Due: none

fix: 修正eslint配置项,使用eslint-config-prettier后,其余一些配置可省略
  .eslintrc
  .lintstagedrc
Due: none

chore: 移除config-overrides注释
  config-overrides.js
Due: none

lint: 关闭 no-extraneous-dependencies 验证
  .eslintrc
Due: none
